rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /projects/{projectId} {
      // Anyone can create a project, but no one can read, update, or delete from the client.
      // This is because there is no user authentication.
      allow create: if true;
      allow read, update, delete: if false;
    }
    
    match /contact_leads/{contactLeadId} {
      // Anyone can submit the contact form.
      allow create: if true;
      // No one can read/update/delete from the client. This data is for backend use.
      allow read, update, delete: if false;
    }

    match /testimonials/{testimonialId} {
      // Anyone can view testimonials.
      allow get, list: if true;
      // No one can create/update/delete from the client.
      allow create, update, delete: if false;
    }
  }
}
